{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block title %}
{{title}} |{{ block.super }}
{% endblock title %}

{% block head_extra %}
    {{ form.media }}
{% endblock head_extra %}

{% block content %}

<div class="col-sm-6">
    <h1>Form</h1>
    <hr>
    <form method="post" action="" enctype="multipart/form-data"> {% csrf_token %}
        {{ form|crispy }}
        <input class="btn btn-success" type="submit" value="{{ button_name }}"/>

        <a href="
            {% if instance %}
            {{ instance.get_absolute_url }}
            {% else %}
            {% url "posts:list" %}
            {% endif %}" class="btn btn-default">Cancel
        </a>
    </form>
</div>

<div class="col-sm-6">
    <h1>Preview</h1>
    <hr>
    <div class="content-preview">
        <h1 id="preview-title"></h1>
        <p id="preview-content"></p>
    </div>
</div>

{% endblock content %}